@import url(https://fonts.googleapis.com/css?family=Alan+Sans:300,regular,500,600,700,800,900);
body {
  background-color: #f2f2f2;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.color {
  background-color: #4325ee !important;
  color: white !important;
}
input {
  background-color: #f2f2f2 !important;
}
.ff {
  font-style: Smooch Sans;
  font-size: 50px;
  font: bold;
}
.login-container {
  text-align: center;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 473px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.login-btn img {
  width: 22px;
  margin-right: 10px;
}
.login img-fluid {
  height: 454px;
}
.signupd img-fluid {
  height: 500px;
}
.bgcolor {
  background-color: #ffffff;
}

button.btn.btn-dark.bggcolor {
  background-color: #6d3c2c;
}
.headcls {
  background-color: #6d3c2c;
}
ul li {
  color: white;
  list-style: none; /* Removes bullets */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 25px;
}
.action-btn {
  align-items: center;
  gap: 10px;
  border: 1px solid #b78875;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: #fff;
  color: #5c2e22;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
}
.action-btn:hover {
  background-color: #fdf2ef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.action-btn i {
  font-size: 18px;
  color: #b78875;
}
.action-btn {
  border-radius: 5px;
  border-color: #61dafb;
}
@keyframes action-btn {
  100% {
    transform: rotate(1turn);
  }
}
.col-5-custom {
  flex: 1 1 18%; /* make each item flexible */
  max-width: 18%; /* control max width */
  text-align: center;
  background-color: white;
}

.row-custom {
  display: flex;
  justify-content: space-between; /* equal spacing between items */
  flex-wrap: wrap; /* wraps to next line if needed */
  padding: 10px 0;
}

.row-custom {
  padding: 47px;
}
