@import url(https://fonts.googleapis.com/css?family=Alan+Sans:300,regular,500,600,700,800,900);
body {
  background-color: #f2f2f2;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.color {
  background-color: #4325ee !important;
  color: white !important;
}
input {
  background-color: #f2f2f2 !important;
}
.ff {
  font-style: Smooch Sans;
  font-size: 50px;
  font: bold;
}
.login-container {
  text-align: center;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 473px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.login-btn img {
  width: 22px;
  margin-right: 10px;
}
.login img-fluid {
  height: 454px;
}
.signupd img-fluid {
  height: 500px;
}
.bgcolor {
  background-color: #ffffff;
}

button.btn.btn-dark.bggcolor {
  background-color: #6d3c2c;
}
.headcls {
  background-color: #6d3c2c;
}
ul li {
  color: white;
}
